.productDetails {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
	gap: 20px;
	max-width: 1100px;
	font-size: small;
}

.productImageDiv {
	width: 50%;
	height: auto;
}

.productImageDiv {
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: center; /* Centers vertically */
	width: 50%;
	height: auto;
	overflow: hidden; /* Ensures the image doesn't overflow */
}

.productImageDiv img {
	max-width: 400px;
	max-height: 100%;
	object-fit: contain;
}

.productTitle {
	font-size: 1.5em;
	font-weight: 500;
	color: black;
}

.productPrice {
	font-weight: bold;
	padding: 5px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: black;
}

.productInfo {
	flex: 1;
	color: grey;
}

.sizeLine {
	margin: 15px 0;
	font-weight: bold;
	color: grey;
}

.sizeText {
	display: inline;
}

.required {
	color: red;
}

.sizeButtons button {
	margin-right: 10px;
	padding: 10px 15px;
	border-color: darkgrey;
	color: darkgrey;
}

.sizeButtons button:hover {
	border-color: black;
	color: white;
}

.sizeButtons .selected {
	border-color: black;
	color: black;
}

.addToCart {
	font-weight: bold;
	margin-top: 15px;
	padding: 10px 20px;
}

.error {
	margin-bottom: 0;
}
